<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About meta</title>
</head>

<body>
    <h1>About Me!</h1>
    <p>Pours a slightly hazed, rich, dark amber beer with orange hues. Massive head on this one, three fingers thick, a white
        froth with amazing retention; it really sticks to the glass. (Thanks, hop proteins!) The aromatics are unreal, with
        an aggressive hop scent full of pine, dank resins, spice, grapefruit, rind, pith and a mixed bag of herbal goodies.
        Beneath it all are sweet, syrupy notes of rich tropical fruit like pineapple, ripe honeydew and mango.</p>
</body>

</html>