<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
</head>

<body>
    <h1>Hi, I am Vitalie</h1>
    <h2>Welcome to My Portfolio</h2>
    <a href="projects">Projects</a>
    <br>
    <a href="about">About Me</a>
    <br>
    <a href="testimonials">Testimonials</a>
    <br>
    <p>Extremely pale straw yellow beer, a touch hazy, with a soda-like appearance. Candied ginger aroma, spicy and herbal,
        with suggestions of cardamom and lilacs. Thin and crisp in the mouth, with some unpleasant tannins up front.</p>
    <p>Compared to the aroma, the ginger character is very tame in the flavor, while a lemony bitterness puckers things up just
        a bit. Light pale malt sweetness, while the wildflower honey used is well-attenuated, leaving behind a pleasing floral
        note and slight remnants of raw honey.</p>
    <p>Hints of cardamom, with a lingering raw and semi-astringent pith, husky and wheat-like character in the finish. The tannins
        throughout the beer, especially in the finish, took a lot away from allowing the subtleties of the brew to shine.
        Interesting, but not refreshing or overly drinkable.</p>

</body>

</html>