<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Testimonials</h1>
    <p>The 22-ounce brown bomber pours with a thickness and leaves three fingers of stodgy head. A head that does not want to
        move. Slightly hazy reddish-amber color. Spicy herbal hops with suggestions of wintergreen, pine sap and grapefruit
        rind. Some alcoholic fruity esters, rum, cane sugar and toasted malt in the nose as well. So damn smooth and creamy,
        with a sumptuously full body. Light brown sugar on the palate, then a fume of well-placed alcohol, and then the hops
        show up bitter as ever, but not a sharp bitterness or astringency. Big tobacco, citrus rind, pine sap and mint flavor
        from the hops stick to the taste buds for a while. Lots of malt behind the hops; toasted bread, caramel and yeast
        dough come to mind. A bit fruity with pineapple, papaya and ripe mango. Sting of alcohol in the end with a bittersweet
        finish.</p>
</body>

</html>